.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  margin: 5px;
  width: 100px;
  height: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0f2f0;
  color: black;
  text-align: center;
}
